# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore large data files
*.npy
*.npz

# Ignore model checkpoints if too large
*.h5
*.ckpt

# Ignore DLLs and binaries
*.dll
*.so
*.dylib